.idea/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


.settings/
.target/
.idea/
.worksheet/
bin/
build/
dist/
logs/
node_modules/
out/
target/
tmp/


# files
*.iml
*/.DS_Store
\#*
.cache
.classpath
.DS_Store
.history
.idea
.idea_modules
.project
RUNNING_PID
